<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.frostd.pokemonreference" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SimpleFrag"
            android:label="@string/title_activity_simple_frag" >
        </activity>
        <activity
            android:name=".FragHandler"
            android:label="@string/title_activity_frag_handler" >
        </activity>
        <activity
            android:name=".FragMain"
            android:label="@string/title_activity_frag_main" >
        </activity>
        <activity
            android:name=".FillPokemonImage"
            android:label="@string/title_activity_fill_pokemon_image" >
        </activity>
    </application>

</manifest>
